extends layout 

block bodyContent 
    section.container.mt-5
    h2.text-center Área de Administración
    .row
        .col-md-4
        h4 Gestión de Productos
        button.btn.btn-primary.w-100.mb-2 Editar Productos
        button.btn.btn-warning.w-100.mb-2 Activar/Desactivar Productos
        .col-md-4
        h4 Gestión de Pedidos
        button.btn.btn-success.w-100.mb-2 Cambiar Estado de Pedidos
        button.btn.btn-info.w-100.mb-2 Habilitar Lotes de Poleras
        .col-md-4
        h4 Gestión de Contenidos
        button.btn.btn-dark.w-100.mb-2 Editar Contenido de Poleras
        button.btn.btn-secondary.w-100.mb-2 Configurar Costos de Envío