extends layout 

block bodyContent 
    main.container.my-4
        h2.text-center Mi Cuenta
        .row
            .col-md-6
            h3 Datos Personales
            p
                strong Nombre:
                |  [Nombre del Usuario]
            p
                strong Correo:
                |  [Correo del Usuario]
            p
                strong Dirección:
                |  [Dirección del Usuario]
            button.btn.btn-secondary Editar Datos
            .col-md-6
            h3 Mis Compras
            ul.list-group
                li.list-group-item Compra 1 - Estado: Entregado
                li.list-group-item Compra 2 - Estado: En Proceso