extends layout 

block bodyContent 
    main.container.mt-5
    h2.text-center Registro de Usuario
    form
        .mb-3
        label.form-label(for="nombre") Nombre Completo
        input.form-control(type="text", id="nombre", required)
        .mb-3
        label.form-label(for="email") Correo Electrónico
        input.form-control(type="email", id="email", required)
        .mb-3
        label.form-label(for="direccion") Dirección de Envío
        input.form-control(type="text", id="direccion", required)
        .mb-3
        label.form-label(for="password") Contraseña
        input.form-control(type="password", id="password", required)
        button.btn.btn-primary.w-100(type="submit") Registrarse